@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Application
<div class="form-container">
    <h1 style="color: grey; text-align: center">Apply for Tryouts</h1>
    <form method="post">
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" type="text" />

        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" type="text" />

        <label asp-for="Email">Email:</label>
        <input asp-for="Email" type="email" />

        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" type="tel" maxlength="13" />

        <label asp-for="Notes">Anything you'd like us to know:</label>
        <textarea asp-for="Notes" maxlength="300"></textarea>

        <button type="submit">Submit</button>
    </form>
</div>
