@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BYU Dance</h1>
</div>

<div class="text-container"
    <p style="color: grey">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Maecenas volutpat, diam enim sagittis quam, id porta velit lorem non diam. Phasellus faucibus molestie nisl. Nullam at arcu a est sollicitudin euismod. In rutrum. Pellentesque sapien. Suspendisse sagittis ultrices augue. Integer lacinia. Vivamus lacinia. Cras blandit lectus eget orci. Cras ultricies mi eu turpis hendrerit fringilla. Vivamus euismod mauris.
    </p>
</div>

<div class="row align-items-stretch">
    <div class="col-md-6">
        <div class="card">
            <img src="~/lib/images/dancers.jpg" class="card-img-top" alt="Image 1">
            <div class="card-body">
                <h5 class="card-title">Card 1 Title</h5>
                <p class="card-text text-dark">Some text describing Card 1.</p> <!-- Added text-dark class to set text color to black -->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="~/lib/images/dancers.jpg" class="card-img-top" alt="Image 2">
            <div class="card-body">
                <h5 class="card-title">Card 2 Title</h5>
                <p class="card-text text-dark">Some text describing Card 2.</p>
            </div>
        </div>
    </div>
</div>